@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Poppins", sans-serif; */
}

body {
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Press Start 2P", cursive;
}

.container {
  background-color: #160d1b;
  border: 2px solid #cad2c9;
  -webkit-box-shadow: 0px 1px 29px 5px #074a79db; 
box-shadow: 0px 1px 29px 5px #034d81e0;
  border-radius: 16px;
  padding: 30px;
  width: 380px;
  text-align: center;
}

h1 {
  color: #ffffff;
  margin-bottom: 20px;
  font-size: 16px;
}

.password-box{
    margin-right: 22px;
}
.password-box label {
  display: block;
  font-weight: 600;
  margin-bottom: 8px;
  color: #b0ada9;
  font-size: 12px;
}

.input-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #a16207;
  border-radius: 8px;
  overflow: hidden;
}
.input-group ::placeholder {
  text-decoration: none;
  font-size: 10px;
  font-family: "Press Start 2P", cursive;
  /* padding: 5px; */
}


#password {
  width: 100%;
  border: none;
  padding: 10px;
  color: #060800;
  font-weight: 500;
  font-size: 14px;
  background-color: #f9fafb;
}

#copyBtn {
  background-color: #cfc5b6;
  color: rgb(19, 3, 3);
  border: none;
  padding: 8px 10px;
  cursor: pointer;
}
.ri-file-copy-2-line {
    font-size: 19px;
}

.length-box {
  margin-top: 20px;
  text-align: left;
  color: #b0ada9;
  font-size: 12px;
}

.slider-box {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 8px;
  font-size: 12px;
}

#lengthRange {
  flex: 1;
  cursor: pointer;
}

#lengthValue {
  background-color: #ffffff;
  border: 1px solid #b0ada9;
  border-radius: 4px;
  padding: 4px 8px;
  color: #0b0b0b;
}

.options {
  margin-top: 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #6cb7f9;
  
}

.options label {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 10px;
}

#generateBtn {
  background-color: #7d09c5;
  border: 2px solid #27682c;
  color: #d0d3d9;
  font-weight: 500;
  border-radius: 8px;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 10px;
  font-family: "Press Start 2P", cursive;
}

#generateBtn:hover {
  background-color: #313c6f;
  color: white;
}

#strengthCircle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 3px solid #d1d5db;
  display: inline-block;
  position: absolute;
  margin-top: -35px;
  margin-left: 160px;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}


.strength-weak {
  background-color: #ef4444; 
  border-color: #b91c1c;
}

.strength-medium {
  background-color: #facc15; 
  border-color: #ca8a04;
}

.strength-strong {
  background-color: #22c55e; 
  border-color: #15803d;
}

